.form
{
    display: block;
    text-align: center;
}
form
{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    padding-top: 1em;
    padding-bottom: 1em;
}

.recent {
    padding-top: 20px;
    text-align: center;
}