.middle {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.data {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.status {
    margin-bottom: -10px;
    font-size: 12px;
    font-family: "Roboto";
    text-transform: uppercase;
    color: black;
}

.periods {
    padding-top: 10px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 12px;
    font-family: "Roboto";
}

img {
    width: 110px;
}

.main {
    max-width: 50%;
    background-color: rgba(203, 203, 203, 0.629);
    border-radius: 20px;
}

.parent {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.score {
    font-size: 25px;
    font-weight: bold;
    font-family: "Sofia Sans", sans-serif;
    color: black;
}

/* Responsive Styles */
@media only screen and (max-width: 768px) {
    .main {
        max-width: 100%;
    }

    img {
        width: max-content;
    }

    .score {
        font-size: 20px;
    }

    .periods {
        font-size: 10px;
    }
}